
        /* Palabra reservada: body, p , h1*/
        body{
            background-color: azure;
            font-family: verdana;
            font-size: 30px;
        }

        /* Class */
        .myText{ 
            background-color: red;
        }

        /* id */
        #Meltan{
            background-color: aqua;
            border-color: darkblue;
            position: x=100 y=100;

        }

